<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Super Cool Cats App!!!</title>
  </head>
  <body>
    <h1>Cat: <%= cat.name %></h1>

    <a href="/cats">Back</a>
    <a href="/cats/<%= cat.id %>/edit">Edit</a>
    <form action="/cats/:id/delete" method="POST">
      <input type="submit" value="Delete Cat" />
    </form>
  </body>
</html>
